python-dotenv
jupyterlab
ipywidgets
requests
numpy
pandas
scipy
scikit-learn
matplotlib
gensim
torch
transformers
tqdm
openai
gradio
langchain
tiktoken
faiss-cpu
langchain-openai
langchain-experimental
chromadb
datasets
sentencepiece
plotly
beautifulsoup4
pydub
modal
accelerate
bitsandbytes
psutil
setuptools
speedtest-cli
sentence-transformers